<html>

<head>
	<title>Edit User - Surf Conditions Reporter</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<!-- PAGE TITLE -->
<h1>Surf Conditions Reporter</h1>
<p></p>

<!-- NAVIGATION BAR -->
<div>[ <a href="/users">users</a> | <a href="/locations">locations</a> | <a href="/stations">stations</a> | <a href="/conditions">conditions</a> ]</div>
<div>[ <a href="/locations_stations">locations_stations</a> | <a href="/users_locations">users_locations</a> | <a href="/users_conditions">users_conditions</a> | <a href="/stations_conditions">stations_conditions</a> ]</div>
<p></p>

<!-- UPDATE DETAILS WINDOW -->
<body>
    <div id="edit">
        <form id="updateUser" action="/update_user/{{ user[0].user_id }}" method="POST">
            <legend><strong>Update User Details</strong></legend>
            <fieldset>

                <!-- ITEM ATTRIBUTES -->
                <input type="hidden" value="{{ user[0].user_id }}" class="form-control" id="user_id" name="user_id" required>
                
                <label for="make">username:</label>
                <input type="text" value="{{ user[0].username }}" class="form-control" id="username" name="username" required>
                
                <label for="model">email:</label>
                <input type="text" value="{{ user[0].email }}" class="form-control" id="email" name="email" required>
                
            </fieldset>


            <!-- CONFIRM UPDATE/CANCEL BUTTONS -->
            <input type="submit" value="Update User" name="Update_User" class="btn btn-primary" style="margin:.5rem;">
            <button class="btn" type="button" onclick="window.location.href='/users';">Cancel</button>

        </form>

</html>